.avatar-user{
 /* cambia estos dos valores para definir el tamaño de tu círculo */
 height: 40px;
 width: 40px;
 /* los siguientes valores son independientes del tamaño del círculo */
 background-repeat: no-repeat;
 background-position: 50%;
 border-radius: 50%;
 background-size: 100% auto;
 border-style: solid;
}
div .avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 35px;
    width: 35px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border-style: solid;
  }
  /*******************************PERFIL USUARIO                                  */
  div .ava_img {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 200px;
    width: 200px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  }
  .col-10{

    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px; 
    border-style: solid;
  }
  .col-10 a{
    font-weight: bold;
  }
  .col-7 a{
    font-weight: bold;
  }
  .col-10 ul li {
    list-style: none;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid;
    text-decoration-color: white;
  }
  .col-10 ul 
  {
    padding: auto;
  }
  .sobreMi {
    margin-top: 220px;
  
  }
  
  .fondo_img {
    position: absolute;
    height:180px;
    width: 100%;
    top: 100px;
    left: 257px;
    z-index: 1;
  }
  .ava_img{
    position:relative;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
  }
  .datos{
    color: #4C4C4E;
    height: 20%;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 1%;
  }
.navbar, .navbar-expand-lg, .fixed-top{
    background-color: #ad272e;
  }
  .perfil-text{
    
    text-align: center;
    color: #4C4C4E;
  }
  /***********************PERFIL USUARIO***************************/
.tit-pub{
text-decoration: none;
 color: navy;
}
.nic-usu{
 text-decoration: none;
 color: navy;
}
.send-reply {
  color: white;
  font-size: 13px;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  background-color: rgb(7, 13, 50);
  display: block;
  margin-left: auto;
  text-align: center;
  margin-top: 5px;
}
.delete{
  text-decoration: none;
  color: navy;
  font-weight: bold;
}
.edit{
  text-decoration: none;
  color: navy;
  margin-right: 20px;
  font-weight: bold;
}
.create{
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  font-size: 14px;
  height: 40px;
  width: 80px;
  border-radius: 2px;
  display: inline-block;
  margin-left: 40%;
}
.exit-enter-course{
  text-decoration: none;
  color: navy;
  margin-right: 20px;
}
.img-publi{
   /* cambia estos dos valores para definir el tamaño de tu círculo */
 height: 50%;
 width: 100%;
}
table td{
  color: #4C4C4E;
}
.col-2{
  background-color: #4C4C4E;
}
.col-7{
 background-color: var(--highlight-bg);
}
.col-3{
  background-color: var(--highlight-bg);
}
.edit-perfil{
  position: relative;
  text-decoration: none;
  color: #0a58ca;
  left: 45%;
  font-size: 20px;
  border: solid;
  border-radius: 5px;
}
.edit-perfil:hover{
  color: #ad272e;
}

